<div class="chat-messages">
  <ul class="message-list list-unstyled"></ul>
</div>
<div class="chat-form">
  <textarea class="form-control chat-new-message-field"></textarea>
  <button class="btn btn-default chat-new-message-submit">Send</button>
</div>